In [1]:
import pandas as pd
import numpy as np

%load_ext autoreload
%autoreload 2
from util import to_corr_matrix

In [4]:
df = pd.read_csv("data/train_hw03.csv")
df

,id,age,sex,y,t1_2001,t2_2001,t3_2001,t4_2001,t5_2001,t6_2001,...,t106_9170,t107_9170,t108_9170,t109_9170,t110_9170,t111_9170,t112_9170,t113_9170,t114_9170,t115_9170
0,1,18.4148,male,autism,-0.458933,-0.471744,-0.461779,-0.305860,0.047765,0.356486,...,-1.996018,-1.275805,-0.371995,-0.863312,-2.453302,-2.897479,-0.681213,2.771550,4.376339,2.915170
1,7,13.5800,male,autism,-44.830406,431.883087,898.798157,926.675476,467.511444,-105.597237,...,858.979919,3550.427979,7169.964844,9281.972656,8176.752930,4087.208008,-844.500122,-4014.025635,-4296.233887,-2987.512695
2,10,18.4175,male,autism,-0.536675,-0.692978,-0.494424,0.052672,0.580352,0.634929,...,-2.918994,-0.305058,0.293893,-1.441216,-2.808750,-1.520393,1.636729,4.163283,5.010502,5.159610
3,12,17.1000,male,control,-0.356160,-0.612644,-0.175026,0.923642,2.219596,3.136657,...,-3.818442,6.657434,13.913865,11.425905,2.044530,-5.044302,-4.298348,1.248278,5.167187,5.212446
4,13,17.7800,male,control,0.532626,0.372084,0.096217,-0.236015,-0.548263,-0.364282,...,-2.548552,-2.195497,0.857750,1.657618,0.908618,1.275948,1.349784,-0.099559,-1.511268,-1.784074
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,794,11.0800,male,autism,1.605719,2.087463,1.628545,0.725985,0.269245,0.587729,...,-0.119474,1.007243,1.920006,1.698236,0.360375,-1.024146,-1.301874,-0.337484,0.892852,1.302862
596,795,30.0000,male,control,0.087450,1.267322,0.487800,-0.937467,-0.388316,0.680387,...,-0.060937,-2.922512,-2.003564,3.152400,4.499738,-1.591714,-6.111772,-1.400208,6.071485,6.663968
597,796,11.2000,male,control,0.004827,-0.561140,-1.022752,-1.409737,-1.673823,-1.672471,...,-5.140858,-3.528592,-3.022926,-2.655292,-0.777803,2.447924,4.820030,4.295342,1.235895,-1.585241
598,798,27.7600,female,control,0.009636,-0.009336,-0.029836,-0.029555,-0.007096,0.015947,...,-0.442446,-0.231439,0.080499,0.279456,0.257785,0.105656,-0.012517,-0.038396,-0.040254,-0.075864
599,799,22.0000,male,autism,-0.174425,0.107695,0.358743,0.482380,0.448322,0.294671,...,2.636708,1.607916,0.445345,-0.737755,-1.817325,-2.636637,-3.077104,-3.038896,-2.346219,-0.814633

In [12]:
X = df.iloc[:, 4:].apply(to_corr_matrix, axis=1).tolist()
X[0]

/home/mamiglia/.local/lib/python3.10/site-packages/numpy/lib/function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/home/mamiglia/.local/lib/python3.10/site-packages/numpy/lib/function_base.py:2855: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]

array([[ 1.        ,  0.59852271,  0.01596276, ..., -0.29558198,
         0.10804935, -0.0702961 ],
       [ 0.59852271,  1.        , -0.24094922, ..., -0.09276029,
        -0.11123823, -0.22337476],
       [ 0.01596276, -0.24094922,  1.        , ...,  0.06447252,
        -0.08096899,  0.22820237],
       ...,
       [-0.29558198, -0.09276029,  0.06447252, ...,  1.        ,
         0.24128592,  0.39596832],
       [ 0.10804935, -0.11123823, -0.08096899, ...,  0.24128592,
         1.        ,  0.48430787],
       [-0.0702961 , -0.22337476,  0.22820237, ...,  0.39596832,
         0.48430787,  1.        ]])

In [14]:
# take only the upper triangular (all the rest of values are the same or 1)
upper_triangular_idx = np.triu_indices(116, k=1)
X = [x[upper_triangular_idx] for x in X]

      id      age     sex        y
0      1  18.4148    male   autism
1      7  13.5800    male   autism
2     10  18.4175    male   autism
3     12  17.1000    male  control
4     13  17.7800    male  control
..   ...      ...     ...      ...
595  794  11.0800    male   autism
596  795  30.0000    male  control
597  796  11.2000    male  control
598  798  27.7600  female  control
599  799  22.0000    male   autism

[600 rows x 4 columns]